###############################################################################
# Configure docker repo to not let git change anything.
###############################################################################
* -text